{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Nyamira Poly - Computing & Informatics</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-eduwell-style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">


  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="{% url 'my_home' %}" class="logo">
                          <img src="{% static 'assets/images/nyamira_logo.jpg' %}" alt="Nyamira Polytecnic "width="300px" height="80px">
                      </a>
                  <!-- ***** Logo End ***** -->
                  <ul class="nav">
                          <li ><a href="{% url 'my_home' %}#top" class="active">Home</a></li>
                          <li ><a href="{% url 'my_home' %}#services">Services</a></li>
                          <li ><a href="{% url 'my_home' %}#courses">Courses</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">More</a>
                              <ul class="sub-menu">
                                  <li><a href="{% url 'my_about' %}">About Us</a></li>
                                  <li><a href="{% url 'my_services' %}">Our Services</a></li>
                              </ul>
                          </li>
                          <li><a href="{% url 'my_home' %}#testimonials">Testimonials</a></li>
                          <li><a href="{% url 'my_home' %}#contact-section">Contact Us</a></li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                  <!-- ***** Menu End ***** -->
                </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-text">
            <h4>More About Us</h4>
            <h1>About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="get-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="{% static 'assets/images/image2.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h6>Get info</h6>
            <h4>Read More <em>About Us</em></h4>
            <p>Welcome to Nyamira National Polytechnic, a center of excellence dedicated to equipping students with practical skills and knowledge for a dynamic, technology-driven world. As a leading institution in technical and vocational training, we pride ourselves on offering high-quality programs, particularly in ICT, engineering, and skilled trades.

                <br>At Nyamira National Polytechnic, our experienced instructors, modern facilities, and industry-aligned curriculum ensure that our students are not only ready to meet current workforce demands but are also prepared to lead and innovate in their respective fields. Our mission is to foster lifelong learning, creativity, and professional growth, empowering students to build successful careers and contribute positively to society.

                <br>Join us in shaping a brighter future—one skill at a time!</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="info-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-01.png' %}" alt="">
                </div>
                <h4>Best Strategy</h4>
                <p>Our approach combines hands-on training, real-world projects, and industry partnerships to ensure our students gain the skills employers need. We focus on practical learning, innovation, and continuous improvement to prepare you for success in today’s fast-evolving job market.
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-item">
                <div class="icon">
                  <img src="{% static 'assets/images/service-icon-02.png' %}" alt="">
                </div>
                <h4>Creative Ideas</h4>
                <p>We believe in nurturing creativity alongside technical skills. Our programs encourage innovative thinking, problem-solving, and collaboration, empowering students to bring fresh ideas to their industries and make a meaningful impact
                    in their communities.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-team">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>Our Team</h6>
            <h4>Our Tech <em>Nerds</em></h4>
          </div>
        </div>
        <div class="col-lg-10 offset-lg-1">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="active">
                      <img src="{% static 'assets/images/team-1.jpg'%}" alt="">
                      <h4>Kwame Nkrumah</h4>
                      <span>Cybersecurity Specialist</span>
                    </div>
                    <div>
                      <img src="{% static 'assets/images/team-2.jpg' %}" alt="">
                      <h4>Zanele Moyo</h4>
                      <span>Full-Stack Developer</span>
                    </div>
                    <div>
                      <img src="{% static 'assets/images/team-3.jpg' %}" alt="">
                      <h4>Olumide Adeyemi</h4>
                      <span>Data Scientist</span>
                    </div>
                    <div>
                      <img src="{% static 'assets/images/team-4.webp' %}" alt="">
                      <h4>Mpho Ndlovu </h4>
                      <span>Cloud Computing Architect</span>
                    </div>
                    <div>
                      <img src="{% static 'assets/images/team-5.jpg' %}" alt="">
                      <h4>Brian Otieno</h4>
                      <span>Blockchain Developer</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="left-content">
                          <h4>Kwame Nkrumah</h4>
                          <p><strong>Background:</strong> Kwame is a cybersecurity expert from Ghana with over 12 years of experience working in information security. He holds certifications in ethical hacking and network security and has contributed to several high-profile security projects across the continent.
                              <br><strong>Courses:</strong> Cybersecurity Fundamentals, Ethical Hacking, Network Security
                              <br><strong>Why He’s Great:</strong> Kwame’s extensive background in both the private and public sectors allows him to teach students about the evolving cybersecurity landscape. He emphasizes hands-on learning with real-world security challenges,
                              preparing students to tackle threats effectively.</p>
                          <span><a href="#">Facebook</a></span>
                          <span><a href="#">Twitter</a></span>
                          <span class="last-span"><a href="#">Linkedin</a></span>
                          <div class="text-button">
                            <a href="contact-us.html">Contact Member</a>
                          </div>
                        </div>
                        <div class="right-image">
                          <img src="{% static 'assets/images/team-1.jpg' %}" height="300px" width="500px" alt="">
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-content">
                          <h4>Zanele Moyo</h4>
                          <p><strong>Background: </strong>Zanele, a skilled software engineer from Zimbabwe, is a full-stack developer with expertise in JavaScript, React, and Node.js. She has worked with various tech companies in Africa, building robust web applications and teaching coding boot camps for women in tech.
                              <br><strong> Courses: </strong>Web Development, JavaScript, Full-Stack Development
                              <br><strong>Why She’s Great:</strong> Zanele’s practical approach to web development helps students understand both front-end and back-end development. She fosters a collaborative learning environment that encourages creativity
                              and problem-solving in building full-featured websites.</p>
                          <span><a href="#">Facebook</a></span>
                          <span><a href="#">Twitter</a></span>
                          <span class="last-span"><a href="#">Linkedin</a></span>
                          <div class="text-button">
                            <a href="contact-us.html">Contact Member</a>
                          </div>
                        </div>
                        <div class="right-image">
                          <img src="{% static 'assets/images/team-2.jpg' %}"  width="400px" height="250px" alt="">
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-content">
                          <h4>Olumide Adeyemi</h4>
                          <p><strong>Background:</strong> Olumide, from Nigeria, is a data scientist and machine learning engineer with over 8 years of experience.
                              He has worked on data-driven solutions for health tech, finance, and retail sectors across Africa, utilizing predictive analytics and AI.
                              <br><strong>Courses:</strong> Machine Learning, Artificial Intelligence, Data Science
                              <br><strong>Why He’s Great:</strong> Olumide combines his academic background with practical industry experience to teach students how to use data science to solve real-world problems. His teaching style emphasizes hands-on projects, preparing
                              students to apply machine learning techniques in various fields.</p>
                          <span><a href="#">Facebook</a></span>
                          <span><a href="#">Twitter</a></span>
                          <span class="last-span"><a href="#">Linkedin</a></span>
                          <div class="text-button">
                            <a href="contact-us.html">Contact Member</a>
                          </div>
                        </div>
                        <div class="right-image">
                          <img src="{% static 'assets/images/team-3.jpg' %}" height="250px" width="300px" alt="">
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="left-content">
                          <h4> Mpho Ndlovu </h4>
                          <p><strong>Background:</strong> Mpho, based in South Africa, is a certified cloud architect with expertise in Amazon Web Services (AWS), Microsoft Azure, and Google Cloud. He has worked with several tech firms to design scalable cloud solutions, focusing on cloud security and automation.
                              <br><strong>Courses:</strong> Cloud Computing, AWS Certification, Cloud Security
                              <br><strong>Why He’s Great:</strong> Mpho’s extensive knowledge in cloud infrastructure and architecture allows him to teach students how to design secure, scalable cloud solutions. He provides practical insights into cloud technology, preparing students for careers in cloud computing.</p>
                          <span><a href="#">Facebook</a></span>
                          <span><a href="#">Twitter</a></span>
                          <span class="last-span"><a href="#">Linkedin</a></span>
                          <div class="text-button">
                            <a href="contact-us.html">Contact Member</a>
                          </div>
                        </div>
                        <div class="right-image">
                          <img src="{% static 'assets/images/team-4.webp' %}" height="300px" width="300px" alt="">
                        </div>
                      </div>
                      </li>
                      <li>
                        <div>
                          <div class="left-content">
                            <h4>Brian Otieno</h4>
                            <p><strong>Background:</strong> Amina, an innovator from Kenya, is a blockchain technology expert who has developed decentralized applications (dApps) and smart contracts on Ethereum. She is passionate about the potential of blockchain to transform industries such as finance, supply chain, and healthcare.
                                <br><strong>Courses:</strong> Blockchain Development, Smart Contracts, Cryptocurrency Technology
                                <br><strong>Why He’s Great:</strong> Amina’s hands-on experience in the blockchain ecosystem ensures that her students are well-equipped to work with cutting-edge technologies. She teaches students how to build secure, transparent, and decentralized systems that can disrupt traditional business models.</p>
                            <span><a href="#">Facebook</a></span>
                            <span><a href="#">Twitter</a></span>
                            <span class="last-span"><a href="#">Linkedin</a></span>
                            <div class="text-button">
                              <a href="contact-us.html">Contact Member</a>
                            </div>
                          </div>
                          <div class="right-image">
                            <img src="{% static 'assets/images/team-5.jpg' %}" height="270px" width="400px" alt="">
                          </div>
                        </div>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="left-image">
            <img src="{% static 'assets/images/image.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h6>Get nerdy right now!</h6>
          <h4>Up to 50% OFF For 1+ courses</h4>
          <p>Stay curious, code hard, and never stop learning — the world of technology is always evolving!</p>
          <div class="white-button">
            <a href="{% url 'my_home' %}#contact-section">View Courses</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6>Testimonials</h6>
            <h4>What They <em>Think</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
            <div class="item">
              <p>"The practical, hands-on approach at Nyamira National Polytechnic has been invaluable for my career in web development. The instructors are knowledgeable, and the courses are up-to-date
                  with industry standards."</p>
                <h4>— Emily Ochieng, </h4>
                <span>Junior Web Developer</span>
                <img src="{% static 'assets/images/quote.png' %}" alt="">
            </div>
            <div class="item">
              <p>"Enrolling in the Cybersecurity program was one of the best decisions I made. The blend of theory and real-world applications prepared
                  me thoroughly for the workforce."</p>
                <h4>— Samuel Kimani</h4>
                <span>Cybersecurity Analyst</span>
                <img src="{% static 'assets/images/quote.png' %}" alt="">
            </div>
            <div class="item">
              <p>"The polytechnic's ICT program has given me the skills and confidence to start my own tech business. The instructors truly care about our
                  success and make sure we understand every concept."</p>
                <h4>— Linda Otieno</h4>
                <span>Tech Entrepreneur</span>
                <img src="{% static 'assets/images/quote.png' %}" alt="">
            </div>
            <div class="item">
              <p>"Nyamira National Polytechnic provides the latest tools and techniques in ICT training. I've learned so much about networking, which helped me secure a job as an
                  IT support specialist."</p>
                <h4>— James Mwangi</h4>
                <span>IT Support Specialist</span>
                <img src="{% static 'assets/images/quote.png' %}" alt="">
            </div>
            <div class="item">
              <p>"The supportive learning environment and accessible resources at Nyamira National Polytechnic made it easy to transition into my role as a software developer.
                  I highly recommend their courses."</p>
                <h4>— Amina Hassan</h4>
                <span>Software Developer</span>
                <img src="{% static 'assets/images/quote.png' %}" alt="">
            </div>
            <div class="item">
              <p>"Thanks to the data science course, I now have the analytical skills to tackle complex problems in my role. The training was
                  comprehensive and engaging."</p>
                <h4>— Michael Odhiambo</h4>
                <span>Data Analyst</span>
                <img src="{% static 'assets/images/quote.png' %}" alt="">
            </div>
            <div class="item">
              <p>"The polytechnic has been instrumental in helping me achieve my career goals. The team is dedicated to students' success,
                  and the coursework is relevant and practical."
              </p>
                <h4>— Grace Mbogo</h4>
                <span>Network Engineer</span>
                <img src="{% static 'assets/images/quote.png' %}" alt="">
            </div>
            <div class="item">
              <p>"The hands-on labs and projects were fantastic! I now have the skills I need to thrive in my field, and the certificate has opened up
                  many new opportunities."</p>
                <h4>— Diana Njeri,</h4>
                <span>Creative Designer</span>
                <img src="{% static 'assets/images/quote.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us our-office">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="left-info">
            <div class="section-heading">
              <h6>Our Intakes</h6>
              <h4>Join Us <em>Today</em></h4>
            </div>
            <p>At Nyamira National Polytechnic, we understand that every student has unique needs and schedules. That’s why we offer three flexible intake periods throughout the year, allowing you to start your academic journey at a time that works best for you. Whether you're coming directly from high school, taking a gap year, or looking to switch careers, we
                have an intake that fits your plans. Below are our Intakes</p>
            <ul>
              <li>- January Intake: Start the Year Strong.</li>
              <li>- May Intake: Mid-Year Flexibility.</li>
              <li>- September Intake: Align with International Cycles.</li>
            </ul>
            <div class="main-button-gradient">
              <a href="{% url 'my_services' %}">Our Services</a>
            </div>
          </div>
        </div>
      <div class="col-lg-8">
          <div id="video">
            <div class="thumb">
              <video width="100%" autoplay loop muted>
                <source src="{% static 'video/intake2025.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <p class="copyright">Copyright © 2024 NyamiraPoly.ac,ke., Ltd. All Rights Reserved.

          <br>Designed by: <a rel="sponsored" href="https://templatemo.com" target="_blank">OnyangoSystems</a></p>
        </div>
      </div>
    </div>
  </section>
  

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/tabs.js' %}"></script>
    <script src="{% static 'assets/js/video.js' %}"></script>
    <script src="{% static 'assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
    
</body>
</html>